<%= nested_form_for(@admin_page) do |f| %>

  <p id="notice"><%= notice %></p>

  <% if @admin_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_page.errors.count, "error") %> prohibited this admin_page from being saved:</h2>

      <ul>
        <% @admin_page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h2>通常設定</h2>
  <div class="field">
    <%= f.label :display_name %><br>
    <%= f.text_field :display_name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :body_id %><br>
    <%= f.number_field :body_id %>
  </div>

  <h2>表示設定</h2>

  <div class="field">
    <%= f.label :date_visible %><br>
    <%= select_date_visible_for_page(f) %>
  </div>
  <div class="field well">
    <div class="datetimepicker" class="input-append date">
      <%= f.label :date %><br>
      <%= f.text_field :date %>
      <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
    </div>
  </div>


  <div class="field">
    <%= f.label :status %><br>
    <%= select_status_for_page(f) %>
  </div>
  <div class="field well">
    <div class="datetimepicker" class="input-append date">
      <%= f.label :start_date %><br>
      <%= f.text_field :start_date %>
      <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
    </div>
  </div>
  <div class="field well">
    <div class="datetimepicker" class="input-append date">
      <%= f.label :end_date %><br>
      <%= f.text_field :end_date %>
      <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
    </div>
  </div>

  <div class="field">
    <%= f.label :url_name %><br>
    <%= f.text_field :url_name %>
  </div>

  <h2>リダイレクト設定</h2>
  <div class="field">
    <%= f.label :redirect_url %><br>
    <%= f.text_field :redirect_url %>
  </div>
  <div class="field">
    <%= f.label :redirect_target %><br>
    <%= f.number_field :redirect_target %>
  </div>

  <h2>メタ</h2>
  <div class="field">
    <%= f.label :meta_id %><br>
    <%= f.number_field :meta_id %>
  </div>


  <h2>カテゴリー登録</h2>
  <div class="field">
    <% site_structures = @admin_page.site_structures %>
    <% site_structures.each do |obj| %>
      <%= f.fields_for :site_structures, obj, :wrapper => false do |ssf| %>
        <div id="site_structures_wrp">
          <%= ssf.label :parent_id %>
          <%#= ssf.number_field :parent_id %>
          <%= ssf.select :parent_id, Admin::Category.get_select_list(0) %>
          <%= ssf.label :is_sub_display_name %>
          <%= ssf.number_field :is_sub_display_name %>
          <%= ssf.label :_destroy %>
          <%= ssf.check_box :_destroy, class: "btn" %>
        </div>
      <% end %>
    <% end %>
    <p><%= f.link_to_add t("activerecord.attributes.admin/page.add_page_tag"), :site_structures, "data-target" => "#site_structures_wrp", class: "btn" %></p>
  </div>
  <div class="field">
    <%= f.label :sub_display_name %><br>
    <%= f.text_field :sub_display_name %>
  </div>

  <%= render(partial: "admin/sharded/footer", locals: {form: f, back: admin_site_structures_path, preview: "" }) %>

<% end %>

