<%= nested_form_for(@admin_page) do |f| %>

    <% if @admin_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_page.errors.count, "error") %> prohibited this admin_page from being saved:</h2>

      <ul>
      <% @admin_page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :display_name %><br>
    <%= f.text_field :display_name %>
  </div>
  <div class="field">
    <%= f.label :sub_display_name %><br>
    <%= f.text_field :sub_display_name %>
  </div>
  <div class="field">
    <%= f.label :url_name %><br>
    <%= f.text_field :url_name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :date_visible %><br>
    <%= f.number_field :date_visible %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.datetime_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.datetime_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :redirect_url %><br>
    <%= f.text_field :redirect_url %>
  </div>
  <div class="field">
    <%= f.label :redirect_target %><br>
    <%= f.number_field :redirect_target %>
  </div>
  <div class="field">
    <%= f.label :body_id %><br>
    <%= f.number_field :body_id %>
  </div>
  <div class="field">
    <%= f.label :meta_id %><br>
    <%= f.number_field :meta_id %>
  </div>
  <div class="field">
    <%= f.label :replace_id %><br>
    <%= f.number_field :replace_id %>
  </div>
  <div class="field">
    <%= f.label :lock_version %><br>
    <%= f.number_field :lock_version %>
  </div>
  <div class="field">
    <%= f.label :site_structure_attributes %><br>
    <% site_structures = @admin_page.site_structures %>
    <% site_structures.each do |obj| %>
      <%= f.fields_for :site_structures, obj, :wrapper => false do |ssf| %>
        <div id="site_structures_wrp">
          <%= ssf.number_field :parent_id %>
          <%= ssf.check_box :_destroy, class: "btn" %>
        </div>
      <% end %>
    <% end %>
    <p><%= f.link_to_add t("activerecord.attributes.admin/page.add_page_tag"), :site_structures, "data-target" => "#site_structures_wrp", class: "btn" %></p>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
