<p id="notice"><%= notice %></p>

<h1><%= t('activerecord.attributes.admin/site_structure.index_title') %></h1>

<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr class="success">
      <th>ID</th>
      <th>Page</th>
      <th>Category</th>
      <th>Parent</th>
      <th>Category primary</th>
      <th>Children page count</th>
      <th>Children category count</th>
      <th>routes</th>
      <th>Sort</th>
      <th>Depth</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_site_structures.each do |admin_site_structure| %>
      <tr>
        <td><%= admin_site_structure.id %></td>
        <td><%= admin_site_structure.page.try(:display_name) %></td>
        <td><%= admin_site_structure.category.try(:display_name) %></td>
        <td><%= admin_site_structure.parent.try(:display_name) %></td>
        <td><%= admin_site_structure.category_primary %></td>
        <td><%= admin_site_structure.children_pages_count %></td>
        <td><%= admin_site_structure.children_categories_count %></td>
        <td><%= admin_site_structure.routes %></td>
        <td><%= admin_site_structure.sort %></td>
        <td><%= admin_site_structure.depth %></td>
        <td><%= link_to t('common.show'), admin_site_structure, class: 'btn' %></td>
        <td><%= contents_edit(admin_site_structure) %></td>
        <td><%= link_to t('common.destroy'), admin_site_structure, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('common.new'), new_admin_site_structure_path, class: 'btn' %>
