<p id="notice"><%= notice %></p>

<h1><%= t('activerecord.attributes.admin/site_structure.index_title') %></h1>

<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr class="success">
      <th>ID</th>
      <th><%= t("activerecord.attributes.admin/site_structure.index_title") %></th>
      <th><%= t("activerecord.attributes.admin/site_structure.sort") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_site_structures.each do |ss| %>
      <tr>
        <td><%= ss.id %></td>
        <td><%= raw(contents_title_html(ss)) %></td>
        <td><%= ss.sort %></td>
        <td><%= link_to t('common.show'), ss, class: 'btn' %></td>
        <td><%= link_contents_edit(ss) %></td>
        <td><%= link_to(
                        t('common.destroy'), ss.call_contents, method: :delete,
                        data: { confirm: 'Are you sure?' }, class: 'btn'
                ) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('common.new'), new_admin_site_structure_path, class: 'btn' %>
<%= link_to t('common.page_new'), new_admin_page_path, class: 'btn' %>
<%= link_to t('common.category_new'), new_admin_category_path, class: 'btn' %>
