<%= form_for(@admin_category) do |f| %>
  <% if @admin_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_category.errors.count, "error") %> prohibited this admin_category from being saved:</h2>

      <ul>
      <% @admin_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :display_name %><br>
    <%= f.text_field :display_name %>
  </div>
  <div class="field">
    <%= f.label :url_name %><br>
    <%= f.text_field :url_name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :date_visible %><br>
    <%= f.number_field :date_visible %>
  </div>
  <div class="field">
    <%= f.label :tree_type %><br>
    <%= f.number_field :tree_type %>
  </div>
  <div class="field">
    <%= f.label :body_id %><br>
    <%= f.number_field :body_id %>
  </div>
  <div class="field">
    <%= f.label :default_body_id %><br>
    <%= f.number_field :default_body_id %>
  </div>
  <div class="field">
    <%= f.label :meta_id %><br>
    <%= f.number_field :meta_id %>
  </div>
  <div class="field">
    <%= f.label :lock_version %><br>
    <%= f.number_field :lock_version %>
  </div>

  <div class="field">
    <%= f.label :site_structure_attributes %><br>
    <% site_structures = @admin_category.site_structure %>
    <%= f.fields_for :site_structure, site_structures, :wrapper => false do |ssf| %>
      <div id="site_structures_wrp">
        <%= ssf.number_field :parent_id %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
